body{
	background-color:#EBF3FF;
	margin: 0px;
	font-family: 'Open Sans', Sans-Serif;
}
.header{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 5px;
	background-color:#292929;
	width:100%;
}

.header a:link , .header a:visited{
	color:#EBF3FF; 
	font-size: 2em;
	text-decoration:none;
	
}
#carouselIndex{
	width: 800px;
	margin: 20px auto;
}
.carousel .carousel-caption{
	left: 0;
	right: 0;
	bottom: 0;
	padding: 1px;
	background: rgba(0, 0, 0, 0.35);
}
.content{
	position:relative;
	height: 1080px;
}
.description{
	margin: 5px 5px 5px 5px;
}
.description img{
	width:40px;
	height:40px;
}
.tags{
	margin: 5px 5px 0px 5px;
	color: #0066FF;
}
.mid{

}
.mid a:link , .mid a:visited{
	color: #EBF3FF;
	font-size: 24pt;
	text-decoration:none;
}
.mid.banner{
	background-color: #0066FF;
	text-align:center;
}
.mid.banner img{
	width:128px;
	height:128px;
}

#school{
	display: inline-block;
	width: 30%;
	margin-left: 2px;
}
#sandbox{
	display: inline-block;
	width: 30%;
	margin-left: 2px;
}
#other{
	display: inline-block;
	width: 30%;
	margin-left: 2px;
}